.highlight {
    .clipboard {
        position: absolute;
        color: white;
        right: 35px;
        top: 10px;
        border-radius: 2px;
        border-color: white;
        border-width: 1px;
        border-style: solid;
        padding: 7px;
        cursor: pointer;
    }
}
